

.container.login-container(ng-if='! state.successfulTokenSent')

  .inner-container

    .title.login-title
      .title-container.login-title-container
        h1 Login to Leads


    form(name='emailRegisterForm' ng-submit='submitEmail(emailRegisterForm, state.email)' novalidate='' autocomplete='off')

      md-input-container
        label
        input(name='email' ng-model='state.email', required type='email', autocomplete='off', ng-pattern="/^.+@.+\..+$/",
        ng-focus='emailRegisterForm.isEmailFocused = true', ng-blur='emailRegisterForm.isEmailFocused = false',
        placeholder='Enter your Solnet email')

        div(ng-show='(emailRegisterForm.$submitted) && ! emailRegisterForm.isEmailFocused'
        ng-messages="emailRegisterForm.email.$error")
          div(ng-message='email') That email doesn't look quite right
          div(ng-message='required') We need your email address
          div(ng-message='domain') {{emailRegisterForm.email.$error.domain}}


      md-button(type='submit', ng-class='{"bold-button": ! emailRegisterForm.email.$error.pattern && ! emailRegisterForm.email.$error.required}')
        span(ng-hide='submitting') Next
          right-arrow-svg
        md-progress-circular(ng-show='submitting' ng-class='{"white-progress": ! emailRegisterForm.email.$error.pattern && ! emailRegisterForm.email.$error.required}' md-mode='indeterminate')



.container.login-container(ng-if='state.successfulTokenSent')

  .inner-container

    .title.grey-title.tiny-title
      .title-container.login-title-container
        h1 We have sent you an email.
          br
          | Enter the code you see in your inbox for:
    .title.email-title.small-title.small-margin.dark-grey-title
      .title-container
        h1 {{::state.email}}
        md-button.md-icon-button(aria-label='Edit email' ng-click='edit()')
          edit-svg


    form(name='tokenRegisterForm', ng-submit='submitToken(tokenRegisterForm, state.registerToken)', novalidate, autocomplete='off')


      md-input-container
        label
        input.token-input(name='registerToken' ng-model='state.registerToken', required='true', type='number', autocomplete='off'
          ng-minlength='5' ng-maxlength='5' maxlength='5', pattern='[0-9]*' inputmode='numeric'
          ng-focus='tokenRegisterForm.isRegisterTokenFocused = true', ng-blur='tokenRegisterForm.isRegisterTokenFocused = false',
          placeholder='Enter the 5 digit code')

        div(ng-show='(tokenRegisterForm.$submitted) && ! tokenRegisterForm.isRegisterTokenFocused'
        ng-messages="tokenRegisterForm.registerToken.$error")
          div(ng-message='required') You need to enter the code we sent you.
          div(ng-message='minlength') You haven't quite entered 5 digits
          div(ng-message='maxlength') You have entered too many digits
          div(ng-message='token') That token did not match the one we sent

      md-button(type='submit', ng-class='{"bold-button": (registerToken + "").length === 5}')
        span(ng-hide='submittingFirstToken') Login
          right-arrow-svg
        md-progress-circular(ng-show='submittingFirstToken' ng-class='{"white-progress": (registerToken + "").length === 5}' md-mode='indeterminate')



      md-content(ng-if='tokenTimedout')
        md-button.link-button.grey-button(type='button', ng-click='resendTokenEmail(email)')
          span(ng-hide='submittingSecondToken') Please send me another email
          md-progress-circular(ng-show='submittingSecondToken' md-mode='indeterminate')


      md-content(ng-if='successfulResentToken')
        label.deep-blue.second-token-sent Another email has been sent



//button.test-button(ng-click='successfulTokenSent = ! successfulTokenSent') Switch views
