


.title.login-title
  .title-container.login-title-container
    h1 Register




.container.login-container(ng-if='! successfulTokenSent')

  .inner-container

    form(name='emailRegisterForm' ng-submit='submitEmail(emailRegisterForm, email)' novalidate=''
        autocomplete='off')

      md-input-container
        label Enter your work email address
        input(name='email' ng-model='email', required='true' type='email', autocomplete='off',
        ng-focus='isEmailFocused = true', ng-blur='isEmailFocused = false')

        div(ng-if='(emailRegisterForm.$submitted || emailRegisterForm.email.$touched) && ! isEmailFocused'
        ng-messages="emailRegisterForm.email.$error" md-auto-hide="true")
          div(ng-message='email') That email doesn't look quite right
          div(ng-message='required') We need your email address


      md-button(type='submit') Next


.container.login-container(ng-if='successfulTokenSent')

  .inner-container

    form(name='tokenRegisterForm', ng-submit='submitToken(tokenRegisterForm, registerToken)', novalidate, autocomplete='off')

      md-content.code-introduction
        p.first We have sent you an email. Enter the code you see in your inbox for:
        p.second
         b {{email}}


      md-input-container
        label Enter the 5 digit code
        input(name='registerToken' ng-model='registerToken', required='true', type='number', autocomplete='off'
          ng-minlength='5' ng-maxlength='5' maxlength='5',
          ng-focus='isRegisterTokenFocused = true', ng-blur='isRegisterTokenFocused = false')

        div(ng-if='(tokenRegisterForm.$submitted || tokenRegisterForm.registerToken.$touched) && ! isRegisterTokenFocused'
        ng-messages="tokenRegisterForm.registerToken.$error" md-auto-hide="true")
          div(ng-message='required') You need to enter the code we sent you.
          div(ng-message='minlength') You haven't quite entered 5 digits
          div(ng-message='maxlength') You have entered too many digits
          div(ng-message='token') That token did not match the one we sent

      md-button(type='submit') Login


      md-content(ng-if='tokenTimedout')
        md-button.link-button(type='button', ng-click='resendTokenEmail(email)') I did not get an email

      md-content(ng-if='successfulResentToken')
        label.deep-blue.second-token-sent Another email has been sent
