

.container(ng-if='! successful')
  .inner-container

    .title.small-title
      .title-container
        h1 What do you want to tell us?

    form(name='feedbackForm', autocomplete='off' ng-submit='submitFeedback(feedbackForm, feedback, contact, name)' novalidate)


      md-input-container.bold
        label
        textarea(name='feedbackName' ng-model='feedback' required='true' autocomplete='off',
        ng-focus='feedbackForm.isFeedbackFocused = true', ng-blur='feedbackForm.isFeedbackFocused = false'
        placeholder='Enter feedback here')

        div(ng-if='(feedbackForm.$submitted) && ! feedbackForm.isFeedbackFocused'
        ng-messages="feedbackForm.feedbackName.$error" md-auto-hide="true")
          div(ng-message='required') You need to enter some feedback
          div(ng-message='feedback') Looks like something went wrong trying to submit your feedback. Try again.

      md-input-container.optional
        label
        input(name='name' ng-model='name' autocomplete='off',
        placeholder='Name (Optional)')

      md-input-container.optional
        label
        input(name='contact' ng-model='contact' autocomplete='off',
        placeholder='Contact (Optional)')

      md-button(type='submit', ng-class='{"bold-button": feedbackForm.$valid}')
        span(ng-hide='submitting') Submit
          right-arrow-svg
        md-progress-circular.white-progress(ng-show='submitting' md-mode='indeterminate')



.container(ng-if='successful')
  .inner-container

    .title.small-title
      .title-container
        h1 Thank you!

    .title.small-title.small-margin
      .title-container
        h1 {{feedbackSuccessTitle}}



    form(novalidate)
      md-button.bold-button(ng-click='resetFeedback()', type='button') New feedback
