

.container(ng-if='! successful')
  .inner-container

    .title.small-title
      .title-container
        h1 What lead would you like to tell us about?

    form(name='feedbackForm', autocomplete='off', ng-submit='submitFeedback(feedbackForm, state)' novalidate)

      md-input-container.bold
        label
        input(name='feedbackName' ng-model='state.companyName' required='true' autocomplete='off', placeholder='Organisation name e.g. MBIE'
        ng-focus='feedbackForm.isNameFocused = true', ng-blur='feedbackForm.isNameFocused = false')
        div(ng-if='(feedbackForm.$submitted) && ! feedbackForm.isNameFocused'
        ng-messages="feedbackForm.feedbackName.$error" md-auto-hide="true")
          div(ng-message='required') You need to enter an organisation name

      md-input-container.bold
        label
        input(name='clientName' ng-model='state.contactName' required='true' autocomplete='off', placeholder='Client name e.g. John Smith'
        ng-focus='feedbackForm.isClientNameFocused = true', ng-blur='feedbackForm.isClientNameFocused = false')
        div(ng-if='(feedbackForm.$submitted) && ! feedbackForm.isClientNameFocused'
        ng-messages="feedbackForm.clientName.$error" md-auto-hide="true")
          div(ng-message='required') You need to enter a client name

      md-input-container.bold
        label
        textarea(name='feedbackDetails' ng-model='state.leadDetails' required='true' autocomplete='off',
        ng-focus='feedbackForm.isFeedbackFocused = true', ng-blur='feedbackForm.isFeedbackFocused = false'
        placeholder='Details about the lead')

        div(ng-if='(feedbackForm.$submitted) && ! feedbackForm.isFeedbackFocused'
        ng-messages="feedbackForm.feedbackDetails.$error" md-auto-hide="true")
          div(ng-message='required') You need to enter some details
          div(ng-message='feedback') Looks like something went wrong trying to submit your lead. Try again.


      .advance-container(ng-if='showAdvanceDetails')
        md-input-container.optional
          label
          input(name='contactEmail' type='email' ng-model='state.contactEmail' autocomplete='off', placeholder='Client email',)

        md-input-container.optional
          label
          input(name='contactMobile' type='tel' ng-model='state.contactMobile' autocomplete='off', placeholder='Client mobile number',)

        md-input-container.optional
          label
          input(name='contactPhone' type='tel' ng-model='state.contactPhone' autocomplete='off', placeholder='Client phone number',)


      .bottom-actions-container
        md-checkbox(ng-model='state.anonymous') I want to be anonymous

        md-button.grey-button.advance-button.md-icon-button(aria-label='Toggle advance fields' ng-click='showAdvanceDetails = ! showAdvanceDetails')
          tune-svg

      md-button(type='submit', ng-class='{"bold-button": feedbackForm.$valid}')
        span(ng-hide='submitting') Submit
          right-arrow-svg
        md-progress-circular.white-progress(ng-show='submitting' md-mode='indeterminate')



.container(ng-if='successful')
  .inner-container

    .title
      .title-container
        h1 Thank you!

    .title.small-title.small-margin.grey-title
      .title-container
        h1 {{::feedbackSuccessTitle}}



    form(novalidate)
      md-button.new-lead-button.bold-button(ng-click='resetFeedback()', type='button') Enter a new lead
