

.container(ng-if='! successful')
  .inner-container

    .title.small-title.grey-title
      .title-container
        h1 What lead would you like to tell us about?

    form(name='feedbackForm', autocomplete='off' ng-submit='submitFeedback(feedbackForm, feedback, contact, name)' novalidate)


      md-input-container.bold
        label
        input(name='feedbackName' ng-model='name' required='true' autocomplete='off', placeholder='Client name'
        ng-focus='feedbackForm.isNameFocused = true', ng-blur='feedbackForm.isNameFocused = false')
        div(ng-if='(feedbackForm.$submitted) && ! feedbackForm.isNameFocused'
        ng-messages="feedbackForm.feedbackName.$error" md-auto-hide="true")
          div(ng-message='required') You need to enter a client name


      md-input-container.bold
        label
        textarea(name='feedbackDetails' ng-model='feedback' required='true' autocomplete='off',
        ng-focus='feedbackForm.isFeedbackFocused = true', ng-blur='feedbackForm.isFeedbackFocused = false'
        placeholder='Enter details about lead here')

        div(ng-if='(feedbackForm.$submitted) && ! feedbackForm.isFeedbackFocused'
        ng-messages="feedbackForm.feedbackDetails.$error" md-auto-hide="true")
          div(ng-message='required') You need to enter some details
          div(ng-message='feedback') Looks like something went wrong trying to submit your lead. Try again.




      md-button(type='submit', ng-class='{"bold-button": feedbackForm.$valid}')
        span(ng-hide='submitting') Submit
          right-arrow-svg
        md-progress-circular.white-progress(ng-show='submitting' md-mode='indeterminate')



.container(ng-if='successful')
  .inner-container

    .title
      .title-container
        h1 Thank you!

    .title.small-title.small-margin.grey-title
      .title-container
        h1 {{feedbackSuccessTitle}}



    form(novalidate)
      md-button.bold-button(ng-click='resetFeedback()', type='button') New lead
